extends template.pug

block title     
    title Profile

block links
    link(rel='stylesheet' href='/css/main.css')

block styles 
    style.
        div.embedded {
            color: white;
        } 

block scripts 
    script(src='/js/main.js', async, defer)

block content 
    div.profile
        p This is a user profile page
        | this is line two
        