extends mainPug.pug 
block title 
    title Testimonies
block content 
    div.bottom
        h1 Customer Reviews
        h2 Join these SATISFIED customers!
        div.vidbox
            h3 Meet the fleet!
            iframe(width='560' height='315' src='https://www.youtube.com/embed/kXEzzPQhoe0?si=8SQbH6m62N3_dqtV' title='YouTube video player' allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share' allowfullscreen='')
    div.reviews
        div.leftcol
            div.review
                p.review-body Scam... don&apos;t pay this idiot
                p.reviewer-name Nunya
            div.review
                p.review-body
                    | Went to check my mail this morning and, to my dismay, my insufferable neighbor ran outside.
                    | He said someone in a full suit of armor jumped out from behind his car, yelped, and ran away...
                p.reviewer-name Anonymous
            div.review
                p.review-body Tried getting a refund, still haven&apos;t heard back from him.
                p.reviewer-name immad
            div.review
                p.review-body
                    | WARNING! DO NOT HIRE. Just got a Christmas card of their whole family posing with a knight.
                p.reviewer-name LsrForHire
        div.rightcol
            div.review
                p.review-body spare yourself the disappointment. stay far away
                p.reviewer-name 0star
            div.review
                p.review-body
                    | Awesome guy. Listed myself as the target, but we ended up in a dance-off and then he gave me financial advice.
                p.reviewer-name Jake22
            div.review
                p.review-body awful. just awful
                p.reviewer-name anonymous
