extends mainPug.pug 
block title
    title Medieval Hitman For Hire
block links 
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
block scripts 
    script(src='/js/sale.js')
block content
    main
        div.bottom
            h1#title Medieval Hitman For Hire
            h2 If you want something done right, hire a knight!
            img(src='/images/main.jpg' alt='Yours truly')
            div.subimg
                p
                    | Starting to 
                    em ferver
                    | ? Look no further!
                p
                    | Instill 
                    strong fear
                    |  without getting near. Conduct 
                    strong plight
                    |  from out of sight.
                p Services:
                ol
                    li Single Target
                    li Target + Spouse
                    li Target + Spouse + Children